<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/admin-home.css" />
    <title>Project Gallery | Admin</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h2 class="title-head">Hello Admin</h2>
    <div class="projects">
       <div class="project-tiles">
        <div class="create-new">
          <a class="create" href="/admin/create">+ New Project </a>
        </div>
    </div>
      <% if (count > 0) { %> <% projects.forEach(project => { %>
      <div class="project-tiles">
        <div class="placeholder-name">
          <a class="project-name" href="/projects/<%= project.project_category %>/<%= project.id %>"><%= project.project_name%></a>
        </div>
        <div class="placeholder-category">
          <h4><%= project.project_category %></h4>
        </div>
        <div class="placeholder-date">
          <h4><%= project.project_created_at %></h4>
        </div>
        <a class="placeholder-button edit" href="edit/<%= project.id %>"
          >Edit</a
        >
        <a class="placeholder-button delete" href="delete/<%= project.id %>"
          >Delete</a
        >
      </div>
      <% }) %> <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
