<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/admin-home.css" />
    <title>Project Gallery | Admin</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h2 style="text-align: center">Hello Admin</h2>
    <div class="projects">
      <% if (count > 0) { %> <% projects.forEach(project => { %>
      <a
        class="project-tiles"
        ,
        href="edit/<%= project.id %>"
      >
        <div class="placeholder-name">
          <h3><%= project.project_name%></h3>
        </div>
        <div class="placeholder-category">
          <h4><%= project.project_category %></h4>
        </div>
        <div class="placeholder-date">
          <h4><%= project.project_created_at %></h4>
        </div>
      </a>
      <% }) %> <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
