<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/project-page.css" />
    <title>Project Gallery | <%= project.project_name %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>

    <div class="project-content">
      <div class="project-title">
        <h1 class="project-title"><%= project.project_name %></h1>
      </div>
      <br />

      <img class="image" src="<%= project.project_image %>"/> 
      <br />
      <h2 class="project-sub-title">Description</h2>
      <div id="area">
        <p><%= project.project_description %></p>
      </div>

      <% if(project.project_abstract)  {%> 
      <h2 class="project-sub-title">Abstract</h2>
      <div id="area">
        <p><%= project.project_abstract %></p>
      </div>
      <% } %>

      <% if(project.project_problem_statement)  {%> 
      <h2 class="project-sub-title">Problem Statement</h2>
      <div id="area">
        <p><%= project.project_problem_statement %></p>
      </div>
      <% } %>
      
      <% if(project.project_methodology)  {%> 
      <h2 class="project-sub-title">Methodology</h2>
      <div id="area">
        <p><%= project.project_methodology %></p>
      </div>
      <% } %>

      <% if(project.project_objective)  {%> 
      <h2 class="project-sub-title">Objectives</h2>
      <div id="area">
        <p><%= project.project_objective %></p>
      </div>
      <% } %>
      
      <% if(project.project_results)  {%> 
      <h2 class="project-sub-title">Result</h2>
      <div id="area">
        <p><%= project.project_results %></p>
      </div>
      <% } %>
      
      <% if(project.project_references)  {%> 
      <h2 class="project-sub-title">References</h2>
      <div id="area">
        <p><%= project.project_references %></p>
      </div>
      <% } %>
      
      <% if(project.project_achivements)  {%> 
        <h2 class="project-sub-title">Achievements</h2>
        <div id="area">
          <p><%= project.project_achivements %></p>
        </div>
      <% } %>

      <% if(project.project_mentor)  {%> 
      <h2 class="project-sub-title">Team Mentor</h2>
      <div id="area">
        <p><%= project.project_mentor %></p>
      </div>
      <% } %>
      
      
      <h2 class="project-sub-title">Team Members</h2>
      <div id="area">
        <% let members = project.project_members_name.split(","); %> 
        <% let members_reg = project.project_members.split(","); %> 
        <p><% for(let i = 0; i <= members.length; i++){ %> 
            <a href="/student/dashboard/<%= members_reg[i] %>"><%= members[i] %> </a>
            <% if(i!==members.length) {%> 
              <br>
            <% }}%></p>
      </div>
    </div>
    <br />
    <%- include('../partials/footer.ejs')%>
  </body>
</html>