<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/form.css" />
    <title>Project Form</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h3 class="title-center" >Project Form</h3>
    <div class="form">
      <form method="POST" action=<%= action %>>
        <br />
        <div class="title">
          Project Title :  
          <input type="text" id ="project_name"
            name="project_name"
            value="<%= project.project_name %>"
          />
        </div>
        <br />
        <div>
          <label for="category" class="category">Category :</label>
          <select
            name="project_category"
            id="category"
            default="<%= project.project_category %>"
          >
            <option value="mini-project">Mini Project</option>
            <option value="major-project">Major Project</option>
            <option value="out-house-project">Out House Project</option>
          </select>
        </div>
        <br />
        <div>
          <label for="year" class="year">Year :</label>
          <select name="project_year" id="year" value="<%= project.project_year %>">
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </div>
        <br />
        <div class="text-area">
          <label for="description" class="lable-field"
            >Project Description</label
          >
          <textarea name="project_description" class="area" cols="40" rows="10"><%= project.project_description %></textarea>
        </div>
        <br />

        <div class="text-area">
          <label for="abstract" class="lable-field">Project Abstract</label>
          <textarea name="project_abstract" class ="area" cols="40" rows="10"><%= project.project_abstract %></textarea
          >
        </div>
        <br />
        <div class="text-area">
          <label for="problem-statement" class="lable-field"
            >Project Problem Statement</label
          >
          <textarea name="project_problem_statement" class ="area" cols="40" rows="10"><%= project.project_problem_statement %></textarea
          >
        </div>
        <br />
        <div class="text-area">
          <label for="methodology" class="lable-field"
            >Project Methodology</label
          >
          <textarea name="project_methodology" class="area"cols="40" rows="10"><%= project.project_methodology %></textarea
          >
        </div>
        <br />
        <div class="text-area">
          <label for="objective" class="lable-field">Project Objective</label>
          <textarea name="project_objective" class ="area" cols="40" rows="10"><%= project.project_methodology %></textarea
          >
        </div>
        <br />
        <div class="text-area">
          <label for="result" class="lable-field">Project Result</label>
          <textarea name="project_results" class="area"cols="40" rows="10"><%= project.project_results %></textarea
          >
        </div>
        <br />
        <div class="text-area">
          <label for="reference" class="lable-field">Project References</label>
          <textarea name="project_references" class="area"cols="40" rows="10"><%= project.project_references %></textarea
          >
        </div>
        <br />
        <div class="text-area">
          <label for="achivements" class="lable-field">Project Achivements</label>
          <textarea name="project_achivements" class="area" cols="40" rows="10"><%= project.project_achivements %></textarea>
        </div>
        <br />
        <div class="text-area">
          <label for="members" class="lable-field">Project Members</label>
          <textarea name="project_members" class ="area"cols="40" rows="10"><%= project.project_members %></textarea>
        </div>
        <br />
        <div class="text-area">
          <button class="btn-submit">Submit</button>
        </div>
      </form>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
